*{
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    font-family:sans-serif;
}
.dark-mode{
    color: white;
    background-color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 25px 25px;
}
.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color:#ebebeb70;
}
img {
    width: 100%;
    height: 120px;
}
.card {
width: 17%;
margin: 15px;
background-color:#dbd4d48c;
border-style:solid;
border-color: #f9f3f3;
border-radius: 5px;
}
p { 
    font-size: large;
}
ul {
    /* display: flex; */
    list-style: none;
}
input {
    float: left;
    width: 20%;
    height: 40px;
}
.nav-bar {
    display: flex;
    justify-content:space-between ;
    background-color: #ebebeb70;
    padding: 15px 30px 25px 40px;
}
#search-input {
border-radius: 5px;
}
a {
    text-decoration: none;
}
#dark-mode {
    font-size: large;
}
select{
    border-radius: 5px;
    width: 160px;
    height: 30px;
}
dl dt dd{
    display: inline-block;
}
dl dt {
font-size: 20px;
}
dl dt ::before{
    content: " = ";
}
