
body {
    background-color: #4e4f5481;
    margin: 0px auto;
}
.Amazon-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#a1a3ad81;
}
a {
    text-decoration: none;
    color: white;
}
#text-page {
    font-size:18px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.fram-box-login{
    background-color:rgba(1000, 1000, 1000, 1);
    width: 390px;
    margin: 0px auto;
    border-style:solid;
    border-radius: 9px;
    border-color: white;
}
.input-format {
    text-align: center;
}
#user {
    width: 350px;
    height: 40px;
    border-style: solid;
    border-radius: 6px;
}
#pass {
    width: 350px;
    height: 40px;
    border-style: solid;
    border-radius: 6px;
}
#login {
width: 350px;
height: 40px;
border-radius: 6px;
background-color:#54585c;
color: white;
font-size:x-large;
}
.forgotten-link {
    font-family: Arial,sans-serif;
    font-size:14px;
    color: #9d9663;
}
#create {
    background-color: #53c150;
    width: 220px;
    height: 60px;  
    color: white;
    border-radius: 6px;
}
.horizontal-line {
    margin: 0 auto;
    position: relative;
    bottom: 20px;
}
#line-left {
    width: 44%;
    margin-left: 0px;
}
#line-right {
    width: 44%;
    margin-right: 0px;
    position: relative;
    bottom: 35px;
}

